<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= subtitle %></p>
    <img src="/images/diagramaMVC.png" alt="Diagrama MVC" width="640" height="auto">
  </body>
</html>
